.about {
  padding-block: 114px;

  @include vp-1365 {
    padding: 100px 0 101px;
  }

  @include vp-767 {
    padding-block: 70px;
  }
}

.about__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 30.9% 1fr;
  column-gap: 85px;
  padding-bottom: 122px;
  min-height: 406px;

  @include vp-1365 {
    grid-template-columns: 1fr;
    column-gap: 0;
    padding-bottom: 83px;
  }

  @include vp-767 {
    display: block;
    min-height: 785px;
  }
}

.about__wrapper-text {
  grid-column: 1 / 2;
  align-self: start;
  color: $color-sapphire;

  @include vp-1365 {
    grid-column: 1 / 2;
    justify-self: center;
  }
}

.about__wrapper-text h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: $ff-alumni-sans;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;


  @include vp-1365 {
    margin-bottom: 19px;
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.26px;
    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 13px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.96px;
    text-align: start;
  }
}

.about__wrapper-text span {
  display: block;
  margin-top: 0;
  margin-bottom: 94px;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;

  @include vp-1365 {
    margin-left: -5px;
    margin-bottom: 34px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  @include vp-767 {
    margin: 0 0 37px 0;
    font-size: 18px;
    text-align: start;
  }
}

.about__wrapper-text p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;

  &:not(:last-child) {
    margin-bottom: 8px;

    @include vp-1365 {
      margin-bottom: 38px;
    }
  }

  @include vp-1365 {
    max-width: 507px;
    text-align: center;
  }

  @include vp-767 {
    padding-left: 0;
    max-width: 100%;
    font-size: 14px;
    line-height: 22px;
    text-align: start;
  }

  &:last-of-type {
    @include vp-1365 {
      display: none;
    }
  }
}

.about__wrapper-image {
  grid-column: 2 / 3;
  justify-self: end;
  align-self: start;
  padding-top: 5px;
  width: 660px;
  height: 406px;

  @include vp-1365 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: center;
    padding-top: 0;
    width: 678px;
    height: 345px;
  }

  @include vp-767 {
    position: absolute;
    left: 50%;
    bottom: 207px;
    transform: translateX(-50%);
    width: 100vw;
    height: 313px;
  }
}

.about__wrapper-image img {
  width: 660px;
  height: 401px;

  @include vp-1365 {
    width: 678px;
    height: 345px;
  }

  @include vp-767 {
    width: 100vw;
    height: 313px;
    object-fit: cover;
  }
}

.about__wrapper-video {
  position: absolute;
  top: 294px;
  left: 39.5%;
  width: 364px;
  height: 228px;

  @include vp-1365 {
    top: auto;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 265px;
    height: 167px;
  }

  @include vp-767 {
    width: 100vw;
    height: 167px;
  }
}

.about__wrapper-video img {
  width: 364px;
  height: 228px;

  @include vp-1365 {
    width: 265px;
    height: 167px;
  }

  @include vp-767 {
    width: 100vw;
    height: 167px;
    object-fit: cover;
  }
}

.about__wrapper-video picture {
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: $color-dark-cerulean-50;
  }
}

.about__wrapper-video iframe {
  display: none;
  width: 364px;
  height: 228px;
  border: none;

  @include vp-1365 {
    width: 265px;
    height: 167px;
  }

  @include vp-767 {
    width: 100vw;
    height: 167px;
  }
}

.about__button-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  width: 72px;
  height: 72px;
  background: $gradient-button;
  border-radius: 50%;
  border: none;
  z-index: 1;
  transition: background-color $trans-default, outline-color $trans-default;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: -14px;
    top: -14px;
    opacity: 0.2;
    border: 2px solid $color-torch-red-first;

    @include vp-1365 {
      width: 72px;
      height: 72px;
      left: -10px;
      top: -10px;
    }
  }

  @include vp-1365 {
    width: 52px;
    height: 52px;
  }

  @include hover-focus {
    background: $color-default-white;
    outline: none;

    svg {
      color: $color-sapphire;
    }

    &::after {
      border-color: $color-sapphire;
      opacity: 1;
    }
  }

  @include active {
    background: $color-default-white;

    svg {
      color: $color-sapphire;
    }

    &::after {
      border-color: $color-sapphire;
      opacity: 1;
    }
  }

  &:disabled {
    background: $color-default-white;
    opacity: 0.4;

    svg {
      color: $color-sapphire;
    }

    &::after {
      border-color: $color-sapphire;
    }
  }
}

.about__button-play svg {
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  color: $color-default-white;
  transition: $trans-default;
}
