.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation__logo {
  @include vp-1365 {
    width: 110px;
  }

  @include vp-767 {
    width: 102px;
  }
}

.header-navigation__list {
  display: flex;
  max-width: 210px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  @include vp-1365 {
    margin: 2px 2px 0 0;
  }

  @include vp-767 {
    margin: 0;
  }
}

.header-navigation__item {
  &::marker {
    color: $color-transparent;
  }
}

.header-navigation__phone {
  position: relative;
  display: block;
  margin-right: -7px;
  padding: 7px;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  color: $color-default-white;

  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: calc(100% - 14px);
    bottom: 0;
    right: 7px;
    background-color: $color-transparent;
  }

  @include vp-1365 {
    font-size: 24px;
    line-height: 24px;
    margin: -1px -8px 0 0;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
    margin-right: -6px;
  }

  @include hover-focus {
    color: $color-resolution-blue;
    outline: none;
  }

  @include active {
    color: $color-sapphire;

    &::after {
      background-color: $color-sapphire;
    }
  }

  &:disabled {
    opacity: 0.5;
  }
}
