.link {
  --color: #ffffff;
  display: block;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.7px;
  color: var(--color);
  padding: 9px;
  box-sizing: border-box;
  border: 1px solid transparent;

  &--background-light {
    --color: #1c3374;
  }

  &::after {
    content: "";
    position: absolute;
    width: calc(100% - 18px);
    height: 1px;
    left: 9px;
    right: 9px;
    bottom: 4px;
    background-color: var(--color);
  }

  @include hover-focus {
    @media (hover: hover) {
      opacity: 0.8;
    }

    &.focus-visible:focus {
      border: 1px solid var(--color);
      outline: none;

      &::after {
        background-color: transparent;
      }
    }
  }

  &:disabled {
    opacity: 0.5;
  }
}
