.price {
  background-color: $color-ghost-white;
  padding-top: 125px;
  padding-bottom: 120px;
  letter-spacing: 1.62px;
  position: relative;
  z-index: 1;

  @include vp-1365 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding-top: 74px;
    padding-bottom: 70px;
  }
}

.price__title {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  color: $color-sapphire;

  @include vp-1365 {
    margin-bottom: 26px;
  }

  @include vp-767 {
    margin-bottom: 11px;
  }
}

.price__control-list {
  margin: 0 auto;
  margin-bottom: 34px;
  padding: 0;
  min-height: 36px;
  max-width: max-content;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    height: 2px;
    width: calc(100% - 20px);
    background-color: $color-grey-20;
    bottom: 2px;
    right: 10px;
    left: 10px;
  }

  @include vp-1365 {
    gap: 35px;
    margin-bottom: 48px;
    min-height: 30px;

    &::after {
      bottom: -4px;
    }
  }

  @include vp-767 {
    gap: 25px;
    width: max-content;
    margin-left: -10px;
    margin-bottom: 42px;

    &::after {
      bottom: -8px;
    }
  }
}

.price__control-item {
  margin: 0;
  padding: 0;

  &::marker {
    color: transparent;
  }
}

.price__control-button {
  position: relative;
  margin: 0;
  padding: 10px;
  border: none;
  font-family: $ff-roboto-condensed;
  font-style: normal;
  font-weight: 400;
  color: $color-sapphire-50;
  font-size: 20px;
  line-height: 30px;
  background-color: $color-ghost-white;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  min-height: 36px;
  transition: color $trans-default;

  &::after {
    position: absolute;
    content: "";
    height: 2px;
    width: calc(100% - 20px);
    bottom: 2px;
    right: 10px;
    left: 10px;
    background-color: $color-transparent;
    transition: background-color $trans-default;
  }

  @include vp-1365 {
    font-size: 18px;
    line-height: 18px;
    min-height: 30px;

    &::after {
      bottom: -4px;
    }
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 16px;
    min-height: 31px;

    &::after {
      bottom: -8px;
    }
  }

  @include hover-focus {
    color: $color-egyptian-blue;
    outline: none;

    &::after {
      background-color: $color-torch-red-first;
    }
  }

  &:focus {
    color: $color-egyptian-blue;

    &::after {
      background-color: $color-torch-red-first;
    }
  }

  @include active {
    &::after {
      background-color: $color-torch-red-first;
    }
  }

  &:disabled {
    opacity: 0.3;
    color: $color-sapphire;

    &::after {
      background-color: $color-sapphire;
    }
  }
}

.active {
  color: #102654;
}

.active::after {
  content: "";
  position: absolute;
  height: 2px;
  width: calc(100% - 20px);
  background-color: $color-torch-red-first;
  bottom: 2px;

  @include vp-1365 {
    bottom: -4px;
  }

  @include vp-767 {
    bottom: -8px;
  }
}

.price__rate-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 40px;

  @include vp-1365 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 65%;
    margin: 0 auto;
    gap: 40px;
  }

  @include vp-767 {
    max-width: 100%;
    row-gap: 35px;
  }
}

.price__image {
  position: absolute;
  right: 0;
  bottom: -149px;
  z-index: -1;
  width: 287px;
  height: 494px;

  @include vp-1365 {
    width: 326px;
    height: 284px;
    right: 0;
    bottom: -10px;
  }

  @include vp-767 {
    display: none;
  }
}
