.rate-card {
  padding: 66px 79px 67px 78px;
  height: max-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  max-width: 360px;
  background-color: $color-default-white;

  @include vp-1365 {
    max-width: none;
    width: 100%;
    padding: 67px 77px 67px;
  }

  @include vp-767 {
    padding: 52px 42px 50px;
  }

  @include vp-767 {
    padding: 52px 42px 52px;
  }
}


.rate-card--border {
  border: 7px solid;
  border-image-slice: 1;
  border-image-source: $gradient-border;
  padding: 59px 72px 61px 71px;

  @include vp-1365 {
    padding-top: 60px 72px 51px;

    &.rate-card__wrapper {
      margin-bottom: 25px;
    }

    &.rate-card__title {
      margin-bottom: 13px;
    }

    &.rate-card__shadow {
      margin-top: -1px;
    }

    @include vp-767 {
      padding: 45px 35px;
    }
  }
}

.rate-card--full_day {
  @include vp-1365 {
    padding: 65px 77px 68px;

    .rate-card__title {
      margin-bottom: 17px;
    }

    .rate-card__text {
      margin-bottom: 72px;
    }
  }

  @include vp-767 {
    padding: 51px 42px 52px;

    .rate-card__title {
      margin-bottom: 18px;
    }

    .rate-card__text {
      margin-bottom: 62px;
    }
  }
}

.rate-card__title {
  margin: 0;
  margin-bottom: 7px;
  padding: 0;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0;
  color: $color-sapphire;
  z-index: 1;

  @include vp-1365 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 14px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 13px;
  }
}

.rate-card__text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: $color-sapphire;
  margin-bottom: 69px;
  letter-spacing: 0;

  @include vp-1365 {
    margin-bottom: 75px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 65px;
  }
}

.rate-card__wrapper {
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  position: relative;
  letter-spacing: 0;
  display: flex;
  align-items: center;

  @include vp-1365 {
    margin-bottom: 26px;
  }

  @include vp-767 {
    margin-bottom: 24px;
  }
}

.rate-card__wrapper svg {
  margin-bottom: 1px;
  margin-left: 1px;
  z-index: 2;

  @include vp-767 {
    width: 24px;
    height: 33px;
    margin-bottom: 0;
  }
}

.rate-card__price {
  margin: 0;
  padding: 0;
  color: $color-egyptian-blue;
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
  padding-right: 14px;
  background-size: 24px 33px;
  background-position: 100% 48%;
  position: relative;
  z-index: 2;
  max-width: 180px;
  word-break: break-all;

  @include vp-767 {
    font-size: 48px;
    line-height: 72px;
    padding-right: 10px;
  }
}

.rate-card__shadow {
  margin: 0;
  margin-left: 2px;
  padding: 0;
  position: absolute;
  font-size: 100px;
  font-weight: 700;
  line-height: 150px;
  color: #e8e8e8;
  opacity: 0.48;
  left: 50%;
  transform: translateX(-51%);
  top: -56px;
  max-height: 130%;
  max-width: 360px;
  overflow: hidden;
  z-index: 1;

  @include vp-1365 {
    margin: 0;
    transform: translateX(-50%);
  }

  @include vp-767 {
    font-size: 80px;
    line-height: 120px;
    top: -44px;
  }

  &--full {
    @include vp-1365 {
      top: -54px;
    }

    @include vp-767 {
      font-size: 80px;
      line-height: 120px;
      top: -44px;
    }
  }
}

.rate-card__button {
  padding: 26px 43px 25px;
  width: fit-content;
  z-index: 2;

  @include vp-1365 {
    padding: 21px 43px 19px;
    margin-left: 0;
  }
}
