
.sitemap-logo__link {
  display: block;
  margin-top: 20px;
  padding: 17px 15px;
  border-radius: 4px;
  background-color: $color-sapphire;
}

.sitemap-logo img {
  @include vp-1365 {
    width: 110px;
    height: 19px;
  }

  @include vp-767 {
    width: 101px;
    height: 17px;
  }
}
