.social {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  max-width: 195px;
  margin-left: 16px;

  @include vp-1365 {
    max-width: 130px;
    margin-left: 9px;
  }

  @include vp-767 {
    margin: 0 auto;
    padding-left: 1px;
  }
}

.social__item {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-content: center;

  &::marker {
    color: transparent;
  }

  @include vp-767 {
    margin-top: -1px;
  }
}

.social__link {
  --size: 25px;
  --color: #ffffff;
  position: relative;
  width: var(--size);
  height: var(--size);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-black-russian;

  &::after {
    position: absolute;
    content: "";
    width: var(--size);
    height: var(--size);
    top: 0;
    right: 0;
    border-radius: 50%;
    background-color: var(--color);
    transition: color $trans-default, background-color $trans-default;
  }

  & svg {
    width: 14px;
    height: 14px;
    z-index: 2;
  }

  @include hover-focus {
    color: $color-default-white;
    --color: #103aae;
    outline: none;
  }

  @include active {
    color: $color-default-white;
    --color: $color-black-russian;
  }

  &:disabled {
    --color: #d8dadf;
  }
}

.social__link--vk {
  & svg {
    width: 12.7px;
    height: 13.8px;
  }
}
